/* static/css/style.css */

.container {
    max-width: 600px;
    margin-top: 50px;
}

.table td {
    padding: 10px;
}

.table td:first-child {
    text-align: right;
    font-weight: bold;
}

.btn-lg {
    width: 100%;
    padding: 10px;
}
