{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="form-container shadow-lg p-5" style="width: 100%; max-width: 500px;">
        <h2 class="text-center mb-4" style="font-weight: 700; color: hsl(146, 92%, 5%);">Log In</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group mb-4">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-block" style="padding: 8px; font-size: .8rem;">Log In</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
