{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center mt-5">Sign Up</h2>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="card p-4 shadow-sm">
            <table class="table table-borderless rounded">
                {% for field in form %}
                    <tr>
                        <td class="text-right align-middle"><label for="{{ field.id_for_label }}">{{ field.label_tag }}</label></td>
                        <td>{{ field }}</td>
                        <td class="text-danger">{{ field.errors }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
