{% extends 'base.html' %}

{% block title %}Booking Confirmation{% endblock %}

{% block content %}
<div class="container">
    <h1>Booking Confirmation</h1>
    <p>Details of your booking...</p>
    <p><strong>Hotel:</strong> {{ booking.hotel.name }}</p>
    <p><strong>Check-in:</strong> {{ booking.check_in }}</p>
    <p><strong>Check-out:</strong> {{ booking.check_out }}</p>
    <p><strong>Billing address:</strong>{{booking.billing_address}}</p>
    <p><strong>Billing city::</strong> {{ booking.billing_city}}</p>
    <p><strong>Billing state:</strong> {{ booking.billing_state }}</p>
    <p><strong>Billing zip:</strong> {{ booking.billing_zip }}</p>
    <p><strong>Billing country:</strong> {{ booking.billing_country }}</p>
    <p><strong>Total Amount:</strong> Rs {{ booking.total_amount }}</p>
    <form method="post" action="{% url 'payment_successful' booking.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Book Now</button>
    </form>
</div>
{% endblock %}